@model IEnumerable<SistemaVenda.Entities.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>@ViewData["Title"]</h2>
<br />


<div>
    <a asp-action="Cadastro" class="btn btn-primary">Cadastrar Cliente</a>
</div>
<br />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ_CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Codigo</td>
                <td> @item.Nome</td>
                <td> @item.CNPJ_CPF</td>
                <td> @item.Email</td>
                <td> @item.Celular</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Codigo">Editar</a>
                    <a asp-action="Deletar" asp-route-id="@item.Codigo">Deletar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<br />

